<div class="price">
    <div class="card">
        <!-- Add 'mt-3' for margin-top -->
        <div class="card-body">
            <h5 class="card-title">Ціни</h5>
            <div class="text-container">
                <p class="left-content">Пробне тренування</p>
                <span class="right-content">120 Грн</span>
            </div>
            <div class="text-container">
                <p class="left-content">Разове Відвідування</p>
                <span class="right-content">150 Грн</span>
            </div>
            <div class="text-container">
                <p class="left-content">Абонемент на 4 <br>
                    тренування / місяць</p>
                <span class="right-content">500 Грн</span>
            </div>
            <div class="text-container">
                <p class="left-content">Абонемент на 8 <br>
                    тренувань / місяць</p>
                <span class="right-content">700 Грн</span>
            </div>
            <div class="text-container">
                <p class="left-content">Абонемент на 12 <br>
                    тренувань / місяць</p>
                <span class="right-content">900 Грн</span>
            </div>
            <div class="text-container">
                <p class="left-content">Абонемент на 16 <br>
                    тренувань / місяць</p>
                <span class="right-content">1100 Грн</span>
            </div>
            <div class="text-container">
                <p class="left-content">Абонемент на 24 <br>
                    тренування / місяць</p>
                <span class="right-content">1450 Грн</span>
            </div>
        </div>
    </div>
</div>