<div class="price">
    <div class="card">
        <!-- Add 'mt-3' for margin-top -->
        <div class="card-body">
            <h5 class="card-title">Ціни</h5>
            <h6 class="card-subtitle">індивідуальні заняття</h6>
            <div class="text-container">
                <p class="left-content">Персональне тренування <br> для однієї людини</p>
                <span class="right-content">400 Грн.</span>
            </div>
            <div class="text-container">
                <p class="left-content">Парний індив</p>
                <span class="right-content">по 250 Грн. <br> з людини</span>
            </div>
            <div class="text-container">
                <p class="left-content">Три людини <br>
                    (міні-група)</p>
                <span class="right-content">по 200 Грн. <br> з людини</span>
            </div>
            <div class="text-container">
                <p>Для бронювання місця на індивідуальне заняття треба оплатити оренду студії — 200грн. — не менше ніж
                    за
                    24 години до зняття. Сума, котра залишилась, оплачується на місці після індивідуального заняття.</p>
            </div>
        </div>
    </div>
</div>