<div class="price">
    <div class="card">
        <!-- Add 'mt-3' for margin-top -->
        <div class="card-body">
            <h5 class="card-title">Ціни</h5>
            <div class="text-container">
                <p class="left-content">Онлайн <br> Індивідуальне <br> Тренування </p>
                <span class="right-content">Донат у <br> розмірі від <br> 300 Грн.</span>
            </div>
            <div class="text-container">
                <p>50% з УСІХ онлайн тренувань йдуть на допомогу українській армії!</p>
            </div>
        </div>
    </div>
</div>